body{
    background-color: aqua;
}

.parent{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin-right: 50px;
    justify-content: space-around;
    top: 100px;
}

.contain{
    width:35%;
}
.contain p{
    text-align: justify;
}
h1{
    text-align: center;
}
.picture{
    width: 65%;
    background-size: cover;
    max-width: 500px;
}

.picture img{
    width: 100%;
    height: auto;

}
